@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&family=Sancreek&family=Six+Caps&family=Vast+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Old+Standard+TT:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Pathway + Gothic + One & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 200 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Quattrocento + Sans & display = swap');

p{ font-family: 'Quattrocento Sans', sans-serif;
font-size: 15px;
}

h1 {font-family: 'Anton',sans-serif;}
h2 {font-family: 'Monoton', cursive;
}

h3 {font-family: 'Montserrat', sans-serif;
font-size: 25px;
color: #7e6fa9
}
 h4 {font-family:  'Montserrat', sans-serif;
font-size: 15px;
color: #ffffff;}
h5{font-family: 'Montserrat', sans-serif;
font-size: 25px;
color: #7e6fa9
}
nav {font-family: 'Montserrat', sans-serif;}
